@use "../../variables/vars" as *;

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 10vh;
  padding: 0 20px;
  border-bottom: 1px solid grey;
  @include theme($theme: $theme-light);
  &_left {
    @include nav(flex-start, 20px);
    @include theme($theme: $theme-light);
    img {
      height: 20px;
      width: 20px;
      @include theme($theme: $theme-light);
      cursor: pointer;
    }
  }
  &_center {
    @include nav(center, 0px);
    @include theme($theme: $theme-light);
    p {
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
  &_right {
    @include nav(flex-end, 20px);
    @include theme($theme: $theme-light);
    p {
      cursor: pointer;
      font-size: 12px;
      color: grey;
      font-weight: 600;
    }
    &_item {
      background-color: $theme-light;
    }
  }
}
.navLine {
  height: 10vh;
  border-bottom: 1px solid grey;
  max-width: 100%;
  @include theme($theme: $theme-light);
}
